@import "~styles/common";

:host {
  display: block;
}

a.navbar-brand {
  padding: 0;
  color: $gray-lightest;
  &:hover, &:active, &:focus {
    color: $gray-lightest;
  }
  img {
    height: 38px;
    vertical-align: bottom;
  }
}
